<form ng-submit="createParty()">
  <legend>New Party</legend>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" id="name" class="form-control" ng-model="party.name">
  </div>
  <div class="form-group">
    <label for="holiday">Holiday</label>
    <select id="holiday" class="form-control" ng-model="party.holiday">
      <option value="Christmas">Christmas</option>
      <option value="New Year's">New Year's Day</option>
      <option value="Halloween">Halloween</option>
      <option value="Thanksgiving">Thanksgiving</option>
      <option value="Birthday">Birthday</option>
      <option value="Easter">Easter</option>
      <option value="Independence Day">Independence Day</option>
      <option value="Black Friday">Black Friday</option>
      <option value="April Fools">April Fool's Day</option>
      <option value="St Patrick's Day">St. Patrick's Day</option>
      <option value="Labor Day">Labor Day</option>
      <option value="Flag Day">Flag Day</option>
      <option value="Pi Day">Pi Day</option>
      <option value="Hannukah">Hannukah</option>
      <option value="Kwanzaa">Kwanzaa</option>
      <option value="Veterans Day">Veterans' Day</option>
      <option value="Presidents Day">Presidents' Day</option>
      <option value="Martin Luther King">Martin Luther King Day</option>
      <option value="Columbus Day">Columbus Day</option>
    </select>
  </div>
  <div class="form-group">
    <label for="date">Date</label>
    <input type="date" id="date" class="form-control" ng-model="party.date">
  </div>
  <div class="form-group">
    <label>Guest</label>
    <input type="text" ng-model="selected" uib-typeahead="guest.name for guest in users | filter:$viewValue | limitTo:8" class="form-control">
    <a class="btn btn-primary" ng-click="addGuest()">Add Guest</a>
    Selected: {{selected}}
  </div>
    <h2>Guest List:</h2>
    <div>
      <div class="well" ng-repeat="guest in party.users track by $index">
      <h4>{{guest}}</h4>
      <a class="btn btn-danger" ng-click="removeGuest($index)">Uninvite</a>
    </div>
  </div>
  <div class="form-group">
    <label>Needs</label>
    <input type="text" ng-model="need" class="form-control">
    <a class="btn btn-primary" ng-click="addNeed()">Add Need</a>
  </div>
  <div>
    <h2>Needs List:</h2>
    <div>
      <div class="well" ng-repeat="need in party.needs track by $index">
        <h4>{{need}}</h4>
        <a class="btn btn-danger" ng-click="removeNeed($index)">Uninvite</a>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Create Party!</button>
</form>
