<h1>{{userName}}'s Parties!</h1>

<!-- This will be filtered by user id -->
<div class="well" ng-repeat = 'party in parties track by $index'>
	<a ng-href='/parties/{{party._id}}'><h3>{{party.name}}</h3></a>
	<p>{{party.date}}</p>
	<p> this is a <strong>{{party.holiday}}</strong> party!</p>
	<img ng-src="{{party.image}}" class="img-responsive" alt="Image">
	<h4>Needs:</h4>
	<ul>
		<li ng-repeat='item in party.needs'>{{item}}</li>
	</ul>
	<h4>Guests:</h4>
	<ul>
		<li ng-repeat = 'user in party.users'>{{user}}</li>
	</ul>
</div>