.btn {
	border-radius: 0px;
}

.Birthday, .birthday {
	font-family: 'Indie Flower', cursive;
}

.Christmas, .christmas {
	font-family: 'Lobster', cursive;
}

.Halloween, .halloween {
	font-family: 'Marck Script', cursive;
}

.New, .new {
	font-family: 'Pacifico', cursive;
}

.Thanksgiving, .thanksgiving {
	background-color: yellow;
}

.Easter, .easter {
	background-color: pink;
}

.Independence, .independence {
	background-color: red
}

.Black, .black {
	background-color: orange
}

.April {

}

.St {

}

.Labor {

}

.Flag {

}

.Pi {

}

.Hannukah {

}

.Kwanzaa {

}

.Veterans {

}

.Presidents {

}

.Martin {

}

.Columbus {

}

