.btn {
	border-radius: 0px;
}

.Birthday, .birthday {
	font-family: 'Indie Flower', cursive;
}

.Christmas, .christmas {
	font-family: 'Lobster', cursive;
}

.Halloween, .halloween {
	font-family: 'Marck Script', cursive;
}

.New, .new {
	font-family: 'Pacifico', cursive;
}

.Thanksgiving, .thanksgiving {
	background-color: yellow;
}

.Easter, .easter {
	background-color: pink;
}

.Independence, .independence {
	background-color: red
}

.Black, .black {
	background-color: orange
}

.April, .april {
	background-color: salmon;
}

.St, .st {
	background-color: limegreen;
}

.Labor, .labor {
	background-color: black;
	color: white;
}

.Flag, .flag {
	background-color: lavender;
}

.Pi, .pi {
	background-color: maroon;
	color: white;
}

.Hannukah, .hannukah {
	background-color: blue;
}

.Kwanzaa, .kwanzaa {
	background-color: brown;
	color: white;
}

.Veterans, .veterans {
	background-color: aqua;
}

.Presidents, .presidents {
	background-color: plum;
	color: white;
}

.Martin, .martin {
	background-color: sandybrown;

}

.Columbus, .columbus {
	background-color: teal;
}

