.btn {
	border-radius: 0px;
}

.Birthday {
	font-family: 'Indie Flower', cursive;
}

.Christmas {
	font-family: 'Lobster', cursive;
}

.Halloween {
	font-family: 'Marck Script', cursive;
}

.New {
	font-family: 'Pacifico', cursive;
}

.Thanksgiving {
	background-color: yellow;
}

.Easter {
	background-color: pink;
}

.Independence {
	background-color: red
}

.Black {
	background-color: orange
}

.April {

}

.St {

}

.Labor {

}

.Flag {

}

.Pi {

}

.Hannukah {

}

.Kwanzaa {

}

.Veterans {

}

.Presidents {

}

.Martin {

}

.Columbus {

}

